#resume {
    height: 100vh;
    padding: 60px;
    background-color: #f8f9fa;

    .timeline {
        padding: 0;
        background-color: $secondary;
        display: block;
        width: 100px;
        text-align: center;
        color: #FFF;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .title {
        color: $texto;
    }
}