#resume {
    //height: 100vh;
    padding: 60px;
    background-color: #f8f9fa;

    @media (max-width: 991px) {
        height: auto;
    }

    @media (max-width: 575px) {
        padding: 60px 20px;

        .pr-3 {
            padding-right: 0 !important;
        }
    }

    .timeline {
        padding: 0;
        background-color: $secondary;
        display: block;
        width: 100px;
        text-align: center;
        color: #FFF;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .line {
        width: 80px;
        border: 1px solid $secondary;
        border-color: $secondary;
        border-width: 2px;
        display: block;
        margin: 0 auto;
    }

    .bloq-title {
        margin-bottom: 90px;
        position: relative;
        height: 130px;
        @media (max-width: 575px) {
            height: auto;
        }
    }

    .title-bloq-sub {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 2;
        @media (max-width: 575px) {
            position: relative;
        }
    }

    .title {
        color: $texto;
        text-align: center;
    }
}