header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 60px;
    @media (max-width: 991px) {
        justify-content: center;
    }
    .col-left {
        .logo {
            background-image: url("../assets/logo.png");
            background-size: cover;
            width: 80px;
            height: 110px;
        }
    }

    .col-right {
        z-index: 2;
        nav {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                li {
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        text-transform: uppercase;
                        text-decoration-line: none;
                        span {
                            color: #fffef0;
                            font-family: 'Roboto';
                            font-weight: 700;
                            transition: all .3s;
                            &:hover {
                                transition: all .3s;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }
}