.modal {
    background-color: rgba(20, 20, 20, 0.905);

    .modal-dialog {
        max-width: 90%;
        margin-top: 0;
        display: flex;
        align-items: center;
        height: 100%;
    }

    div[class^="col-l"] {
        padding: 20px;
    }

    .modal-body {
        background: linear-gradient(90deg, #20c997, #4575b4, #084da8);
    }

    .modal-content {
        position: relative;
        overflow: hidden;
        background-color: #222;
        margin-top: 0;
        height: 90%;

        img {
            border-radius: 5px;
            width: 90%;
            height: auto;
            margin: 0 auto;
            box-shadow: 13px 20px 3px #000000ab;
            position: absolute;
            top: 0;
            left: 20px;
        }

        h4 {
            font-size: 18px;
            margin-bottom: 0;
        }

        .tech, a {
            font-size: 16px;
            margin-bottom: 0;
        }

        .close {
            border: 2px solid #FFF;
            position: absolute;
            right: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            z-index: 999;
            outline: none;
            transition: all .3s;
            color: #FFF;
            &:hover {
                transition: all .3s;
                background-color: #222;
                color: #FFF;
            }
        }
    }
}

.activemodal {
    display: block !important;
}