.sidebar {
    height: 100vh;
    background-color: $bg-dark;
    padding: 20px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    flex: 0 0 16.666667%;
    width: 16.666667%;

    @media (max-width: 991px) {
        height: auto;
        width: 100%;
        z-index: 1000;
    }

    .bloq {
        @media (max-width: 991px) {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
        }
        @media (max-width: 575px) {
            flex-direction: column;
        }
    }

    .image {
		cursor: pointer;
        @media (max-width: 991px) {
            display: none;
        }
    }

    .profile-img {
        background-image: url("../images/profile.jpg");
        background-size: cover;
        background-repeat: none;
        background-position: center;
        border: 8px solid $texto;
        border-radius: 50%;
        margin: 0 auto;
        width: 160px;
        height: 160px;
        transition: all .3s;
        &:hover {
            box-shadow: 0 1px 11px 3px $hoversecondary;
            transition: all .3s;
        }
        @media (max-width: 991px) {
            display: none;
        }
    }

    .profile-name {
        text-align: center;
        @media (max-width: 991px) {
            margin-bottom: 0 !important;
        }
    }

    .navbar {
        display: initial;
        display: none;
        transition: all .3s ease-in;
        @media (min-width: 992px) {
            display: block;
        }
        @media (max-width: 991px) {
            display: none;
            ul:first-child {
                flex-direction: column;
                margin-bottom: 20px !important;
            }
        }
        &.active {
            display: block !important;
        }
    }

    ul {
        @media (max-width: 991px) {
            display: flex;
            margin-bottom: 0 !important;
        }
        li {
            .link {
                display: block;
                text-align: center;
                padding: 15px;
                color: white;
                text-decoration: none;
                transition: all .2s;
                cursor: pointer;
                &.active {
                    color: $secondary;
                }
                &:hover {
                    color: $secondary;
                    transition: all .2s;
                }
            }
            svg {
                width: 40px;
            }
        }
        &.social {
            li {
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
