@font-face {
    font-family: 'Futural';
    font-display: swap;
    font-weight: 700;
    src: url("../fonts/FuturaLT-Bold.ttf");
}
@font-face {
    font-family: 'Oswald';
    font-display: swap;
    font-weight: 700;
    src: url("../fonts/Oswald-Regular.ttf");
}
@font-face {
    font-family: 'Oswald';
    font-display: swap;
    font-weight: 400;
    src: url("../fonts/Oswald-Regular.ttf");
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-weight: 700;
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-weight: 400;
    src: url("../fonts/Roboto-Regular.ttf");
}